<%= button_to 'خروج', logout_path, method: :delete, class: 'btn btn-default hidden-print'  %>


<div> <!-- user info -->
  <h3 class="text-right"><%= @is_user.name %></h3>
  <div>
    <table class="table table-bordered table-striped text-right" >
      <thead >
      <tr >
        <th class="text-right">
          عدد
        </th>

        <th class="text-right">
          نوع اللقاء
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <%= @user_report_type0.count.to_s  %>
        </td>
        <td>
          لقاءات الارشاد
        </td>
      </tr>
      <tr>
        <td>
          <%= @user_report_type1.count.to_s  %>
        </td>
        <td>
          اجتماعات
        </td>
      </tr>
      <tr>
        <td>
          <%= @user_report_type2.count.to_s  %>
        </td>
        <td>
          غياب
        </td>
      </tr>
      </tbody>
    </table>

  </div>

  <%= @total_hours.to_s + "%" %>
  <div class="progress">

    <div class="progress-bar" role="progressbar" aria-valuenow="<%= @total_hours%>" aria-valuemin="0" aria-valuemax="100" style="width:<%= @total_hours %>%;">
    </div>
  </div>
</div> <!-- eof user info -->

<div>  <!-- toolbox -->
  <p class="text-right hidden-print">
    <!-- button type="button" -->
    <a class="btn btn-default" href="<%=  new_report_path %>">
      جديد
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  </p>
</div><!-- eof toolbox -->



<% if @show == true %>
<div> <!-- reports info -->


  <table class="table table-bordered table-striped text-right">
    <thead >
    <tr>
      <th class="text-right">
        ملخص اللقاء
      </th>
      <th class="text-right">
        اجمالي
      </th>
      <th class="text-right">
        الساعه
      </th>
      <th class="text-right">
        اليوم والتاريخ
      </th>
    </tr>
    </thead>
    <tbody>


    <% @user_reports.each do |r| %>
        <tr class="<%=  set_status_approved r.approved %>">
        <td><%= r.description %></td>
        <td><%= r.total_hours %></td>
        <td><%=  format_time_view(r.end_time) + " <-- " +  format_time_view(r.start_time)   %></td>
        <td><%= r.day.day_name.to_s  + "  "  + r.day.to_s  %></td>
        </tr>

    <% end %>
    </tbody>
  </table>

</div> <!-- reports info -->
<% end %>


<% if @user_report_type0.count > 0 %>

    <div> <!-- reports info -->
  <h3 class="text-right"><%= @user_report_type0.count.to_s +  '  لقاءات الارشاد' %></h3>

  <table class="table table-bordered table-striped text-right">
    <thead >
    <tr>
      <th class="text-right">
        ملخص اللقاء
      </th>
      <th class="text-right">
        اجمالي
      </th>
      <th class="text-right">
        الساعه
      </th>
      <th class="text-right">
        اليوم والتاريخ
      </th>
    </tr>
    </thead>
    <tbody>


    <% @user_report_type0.each do |r| %>
        <tr class="<%=  set_status_approved r.approved %>">
          <td><%= r.description %></td>
          <td><%= r.total_hours %></td>
          <td><%=  format_time_view(r.end_time) + " <-- " +  format_time_view(r.start_time)   %></td>
          <td><%= r.day.day_name.to_s  + "  "  + r.day.to_s  %></td>
        </tr>

    <% end %>
    </tbody>
  </table>

</div> <!-- reports info -->
<% end %>


<% if @user_report_type1.count > 0 %>

<div> <!-- reports info -->
  <h3 class="text-right"><%= @user_report_type1.count.to_s +  '  اجتماعات' %></h3>


  <table class="table table-bordered table-striped text-right">
    <thead >
    <tr>
      <th class="text-right">
        ملخص اللقاء
      </th>
      <th class="text-right">
        اجمالي
      </th>
      <th class="text-right">
        الساعه
      </th>
      <th class="text-right">
        اليوم والتاريخ
      </th>
    </tr>
    </thead>
    <tbody>


    <% @user_report_type1.each do |r| %>
        <tr class="<%=  set_status_approved r.approved %>">
          <td><%= r.description %></td>
          <td><%= r.total_hours %></td>
          <td><%=  format_time_view(r.end_time) + " <-- " +  format_time_view(r.start_time)   %></td>
          <td><%= r.day.day_name.to_s  + "  "  + r.day.to_s  %></td>
        </tr>

    <% end %>
    </tbody>
  </table>

</div> <!-- reports info -->
<% end %>


<% if @user_report_type2.count > 0 %>

<div> <!-- reports info -->
  <h3 class="text-right"><%= @user_report_type2.count.to_s +  '  غياب' %></h3>


  <table class="table table-bordered table-striped text-right">
    <thead >
    <tr>
      <th class="text-right">
        ملخص اللقاء
      </th>
      <th class="text-right">
        اجمالي
      </th>
      <th class="text-right">
        الساعه
      </th>
      <th class="text-right">
        اليوم والتاريخ
      </th>
    </tr>
    </thead>
    <tbody>


    <% @user_report_type2.each do |r| %>
        <tr class="<%=  set_status_approved r.approved %>">
          <td><%= r.description %></td>
          <td><%= r.total_hours %></td>
          <td><%=  format_time_view(r.end_time) + " <-- " +  format_time_view(r.start_time)   %></td>
          <td><%= r.day.day_name.to_s  + "  "  + r.day.to_s  %></td>
        </tr>

    <% end %>
    </tbody>
  </table>

</div> <!-- reports info -->

<% end %>



