

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_tag  do  %>
    <div class="text-center form-signin">
    <fieldset>
    <h3 class="form-signin-heading">تسجيل الدخول</h3>
    <div class="form-group">
      <%= label_tag :id_number, 'رقم الهوية'
      %>
      <%= text_field_tag :id_number,  params[:id_number], class: "form-control text-center" ,
                       placeholder:
                               "رقم الهوية"
      %>
    </div>
    <div class="form-group">
      <%= label_tag :password, 'الرقم السري'
      %>
      <%= password_field_tag :password, params[:password],class: "form-control text-center" ,
                           placeholder:
                                   "الرقم السري"

      %>
    </div>

    <%= submit_tag  'تسجيل الدخول', class: "btn btn-lg btn-primary btn-block" %>
    </fieldset>
    </div>
<% end %>