
//$("#get-checked").append("<%= escape_javascript( render 'admin/added' ) %>");

<% if @aprv ==  '1' %>

var $a = $("#rxqw<%= escape_javascript @report_id  %>");
$a.removeClass("warning").addClass("success");
//console.log( $("#rxqe<%= escape_javascript @report_id  %>").val());
$("#rxqe<%= escape_javascript @report_id  %>").val('0');
$("#rxqf<%= escape_javascript @report_id  %>").val("رفض");

<% else %>

var $a = $("#rxqw<%= escape_javascript @report_id  %>");
$a.removeClass("success").addClass("warning");
//console.log( $("#rxqe<%= escape_javascript @report_id  %>").val());
$("#rxqe<%= escape_javascript @report_id  %>").val('1');
$("#rxqf<%= escape_javascript @report_id  %>").val("موافقه");




<% end %>

