
<%= button_to 'خروج', logout_path, method: :delete, class: 'btn btn-default hidden-print'  %>

<br/>
<div> <!-- user info -->
  <h3 class="text-right"><%= @current_user.name %></h3>

</div> <!-- eof user info -->

<div>  <!-- toolbox -->
  <p class="text-right hidden-print">
    <!-- button type="button" -->
    <!--a class="btn btn-default" href="<%= new_user_path %>">
      مستخدم جديد
      <span class="glyphicon glyphicon-plus"></span>
    </a-->
    <a class="btn btn-default" href="<%= user_report_path %>">
      تقريري
      <span class="glyphicon glyphicon-plus"></span>
    </a>
    <a class="btn btn-default" href="<%= users_path %>">
      اداره المستخدمين
      <span class="glyphicon glyphicon-plus"></span>
    </a>


  </p>
</div><!-- eof toolbox -->


<div> <!-- reports info -->


  <table class="table table-bordered table-striped text-right">
    <thead >
    <tr>
      <th class="text-right hidden-print">
        مراجعة
      </th>
      <th class="text-right hidden-print" > </th>
      <th class="text-right">
        اجمالي
      </th>
      <th class="text-right">
        الاسم
      </th>
    </tr>
    </thead>
    <tbody>

    <% @users.each do |u| %>
        <% @aprv_count = Report.where(user_id: u.id, approved: false).count %>
        <% if @aprv_count.to_i > 0  %>
            <tr class="danger">
        <% else %>
        <tr>
        <% end %>
          <td class="hidden-print"><%= @aprv_count %><%# u.get_total_hours.to_f - u.get_total_approved_hours %></td>
          <td class="hidden-print">
            <div class="progress ">
              <div class="progress-bar" role="progressbar" aria-valuenow="<%= u.get_total_approved_hours %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= u.get_total_approved_hours %>%;">
                <span class="sr-only"><%= u.get_total_approved_hours %>% Complete</span>
              </div>
            </div>
          </td>
          <td><%= u.get_total_approved_hours %></td>
          <td><%= link_to u.name, "/user_report_list/#{u.id}" %></td>
        </tr>
    <% end %>


    </tbody>
  </table>

</div> <!-- reports info -->
