<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_number, 'رقم الهويه' %><br>
    <%= f.text_field :id_number %>
  </div>
   <div class="field">
     <%= f.label :name, 'الاسم' %><br>
     <%= f.text_field :name %>
   </div>
  <div class="field">
    <%= f.label :password, 'كلمة المرور' %><br>
    <%= f.password_field :password , size: 40 %>
  </div>
    <div class="field">
      <%= f.label :password_confirmation, 'تأكيد كلمة المرور' %><br>
      <%= f.password_field :password_confirmation , size: 40  %>
    </div>
   <div class="field">
     <%= f.label :email, 'البريد الالكتروني' %><br>
      <%= f.email_field :email %>
   </div>
    <div class="field">
      <%= f.label :phone, 'هاتف' %><br>
      <%= f.text_field :phone %>
    </div>
    <div class="field">
      <%= f.label :age, 'تاريخ الميلاد' %><br>
      <%= f.date_select :age, start_year: 1970 %>
    </div>

    <div class="field">
      <%= f.label :info, 'معلومات اضافيه' %><br>
      <%= f.text_area :info %>
    </div>
    <div class="field">
      <%= f.label :role, 'صلاحية' %><br>
      <%# f.select  :role, %w(admin employee).map {|v| [v,v]}  %>
      <%= f.select  :role, [['مدير','admin'],['مستخدم','employee']]  %>
    </div>

    <div class="actions">
    <%= f.submit 'حفظ', class: 'btn btn-primary hidden-print'  %>
  </div>
<% end %>
