<%= link_to 'عوده', users_path , class: 'btn btn-default hidden-print' %>

<h3 class="text-center">تعديل مستخدم</h3>
<div class="text-center">
<%= render 'form' %>
</div>

<%# link_to 'Show', @user %>
<%# link_to 'Back', users_path %>
