<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<%= link_to 'الصفحة الرئيسية', '/admin', class: 'btn btn-default hidden-print'  %>

<h3 class="text-right">المستخدمين</h3>
<div class="text-right">
  <p>
<%= link_to 'مستخدم جديد', new_user_path , class: 'btn btn-default hidden-print' %>
  </p>
</div>

<table class="table table-bordered table-striped text-right">
  <thead>
    <tr>

      <th></th>
      <th></th>
      <th></th>
      <th class="text-right">صلاحيه</th>
      <th class="text-right">اسم المستخدم</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>

        <td><%= link_to 'معلومات اضافيه', user %></td>
        <td><%= link_to 'تعديل', edit_user_path(user) %></td>
        <td><%= link_to 'حذف', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= get_permession_name user %></td>
        <td><%= user.name %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# link_to 'Back', :back, class: 'btn btn-default hidden-print' %>
