<%= link_to 'الصفحة الرئيسية', '/admin', class: 'btn btn-default hidden-print' %>
<%= link_to 'عوده', users_path , class: 'btn btn-default hidden-print' %>

<div class="text-center">
<h1>مستخدم جديد</h1>

<%= render 'form' %>
</div>
<%# link_to 'Back', users_path %>
