<p id="notice"><%= notice %></p>
<%= link_to 'الصفحة الرئيسية', '/admin', class: 'btn btn-default hidden-print' %>
<div class="text-center">
<p>
  <strong>:رقم الهويه</strong>  <br/>
  <%= @user.id_number %>
</p>

<p>
  <strong>:اسم المستخدم</strong>  <br/>
  <%= @user.name %>
</p>
<p>
  <strong>:البريد الالكتروني</strong>   <br/>
  <%= @user.email %>
</p>
<p>
  <strong>:هاتف</strong> <br/>
  <%= @user.phone %>
</p>
<strong>:العمر</strong>       <br/>
<%= Date.current.year - @user.age.year %>
</p>
<p>
  <strong>:معلومات اضافيه</strong>   <br/>
  <%= @user.info %>
</p>
<p>

<%# link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'عوده', users_path, class: 'btn btn-default hidden-print' %>

</div>