// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/



.space2 {
  margin:5px;
  display: block;
}

.space3 li {
  display: inline;
  float: right;
  list-style:none;
}

