<%= form_for(Report.find())  do |f| %>


    <div class="field" id="start-time">
      <%= f.label :approved  %><br>
      <%= f.check_box :approved %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
