<%= form_for(@report)  do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



    <div class="text-center">
  <div class="field" id="start-time">

    <%= f.time_select :start_time, {minute_step:15} %>
    <%= f.label :start_time, 'ساعة البدايه' %>
  </div>
  <div class="field row" id="end-time">

    <%= f.time_select :end_time, {minute_step:15} %>
    <%= f.label :end_time, 'ساعة النهايه' %>
  </div>
    <div class="field ">

      <%= f.date_select :day,{end_year: 2014, start_year: 2013}  %>
      <%= f.label :day, 'التاريخ' %>
    </div>

  <div class="field row">
    <%= f.label :description, 'محتوى اللقاء' %> <br />
    <%= f.select  :meeting_type, [['ارشاد','0'],['اجتماع','1'], ['غياب','2']]  %>   <br /> <br />
    <%= f.text_area :description, size: "20x10" , class: "text-right ", maxlength: 255  %>
  </div>


    <div class="field">
      <%= f.hidden_field :user_id, value: session[:user_id] %>
    </div>





  <div class="actions">
    <%= f.submit 'حفظ',class: 'btn btn-primary' %>
  </div>

    </div>
<% end %>

