<h1>Listing reports</h1>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Description</th>
      <th>Day</th>
      <th>Total hours</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.start_time.hour %>:<%=  fix_minutes_view report.start_time.min %> </td>
        <td><%= report.end_time.hour %>:<%= fix_minutes_view report.end_time.min  %></td>
        <td><%= report.description %></td>
        <td><%= report.day %></td>
        <td><%= report.total_hours %></td>
        <td><%= link_to 'Show', report %></td>
        <td><%= link_to 'Edit', edit_report_path(report) %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_path %>
