<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @report.start_time.hour %>:<%= fix_minutes_view @report.start_time.min.to_i  %>
</p>

<p>
  <strong>End time:</strong>
  <%= @report.end_time.hour %>:<%= fix_minutes_view @report.end_time.min  %>
</p>

<p>
  <strong>Description:</strong>
  <%= @report.description %>
</p>

<p>
  <strong>Day:</strong>
  <%= @report.day %>
</p>

<p>
  <strong>Total hours:</strong>
  <%= @report.total_hours %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
