<!DOCTYPE html>
<html>
<head>
  <title>Reporty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <div class="page-header text-right">
    <h1>تقريري</h1>
    <h4> <small>مشروع تعلم وتطوع - جمعية انتماء وعطاء</small>  </h4>

  </div>


<%= yield %>

</div>


<div id="footer">
  <div class="container">
    <p class="text-muted credit">By <a href="http://www.facebook.com/Ahmad.Abo.Khet">Ahmad Abo Khet</a>.</p>
  </div>
</div>

</body>
</html>
